aiohttp==3.6.2
altgraph==0.17
animation==0.0.6
arrow==0.16.0
asgiref==3.2.10
astroid==2.4.2
async-cse==0.3.0
async-timeout==3.0.1
asyncpg==0.21.0
attrs==19.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.2
coc.py==0.3.4
Cybernator==0.6.2
DateTime==4.3
dblpy==0.3.4
dhooks==1.1.3
discord==1.0.1
discord.py==1.5.0
Django==3.1.2
dnspython==1.15.0
dnspython3==1.15.0
emoji==0.5.4
ffmpeg==1.4
future==0.18.2
fuzzywuzzy==0.18.0
googletrans==2.4.0
gTTS==2.1.1
gTTS-token==1.1.3
httplib2==0.17.3
humanize==2.4.0
idna==2.8
idna-ssl==1.1.0
images2gif==1.0.1
import-expression==1.0.0
install==1.3.3
isort==5.4.2
lazy-object-proxy==1.4.3
multidict==4.7.4
numpy==1.19.2
opencv-python==4.4.0.44
Paginator==0.5.1
pefile==2019.4.18
pip==20.2.3
playsound==1.2.2
pluginbase==1.0.0
protobuf==3.6.1
psutil==5.6.7
py-cpuinfo==5.0.0
PySocks==1.7.1
pytesseract==0.3.6
python-dateutil==2.8.1
python-dotenv==0.15.0
pytimeparse==1.1.8
PyYAML==5.3.1
ratelimiter==1.2.0.post0
requests==2.22.0
selenium==3.141.0
setuptools==40.6.2
shiboken2==5.14.1
soupsieve==2.0
spark-parser==1.8.9
sqlparse==0.3.1
termcolor==1.1.0
toolz==0.11.1
typed-ast==1.4.1
typing==3.7.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
websocket-client==0.57.0
websockets==8.1
wikipedia==1.4.0
wrapt==1.12.1
xdis==4.6.1
yandex-music==0.0.16
yarl==1.4.2
youtube-dl==2020.9.20
PyNaCl
humanize
datetime
wavelink
